<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinHeal_Test"
        tools:targetApi="31">
        <activity
            android:name=".Window8_Activity"
            android:exported="false" />
        <activity
            android:name=".Window7_Activity"
            android:exported="false" />
        <activity
            android:name=".Window6_Activity"
            android:exported="false" />
        <activity
            android:name=".Window5_Activity"
            android:exported="false" />
        <activity
            android:name=".Window4_Activity"
            android:exported="false" />
        <activity
            android:name=".Window3_Activity"
            android:exported="false" />
        <activity
            android:name=".Window2_Activity"
            android:exported="false" />
        <activity
            android:name=".Window1_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>